/*

 $base03:    #002b36;
 $base02:    #073642;
 $base01:    #586e75;
 $base00:    #657b83;
 $base0:     #839496;
 $base1:     #93a1a1;
 $base2:     #eee8d5;
 $base3:     #fdf6e3;
 $yellow:    #b58900;
 $orange:    #cb4b16;
 $red:       #dc322f;
 $magenta:   #d33682;
 $violet:    #6c71c4;
 $blue:      #268bd2;
 $cyan:      #2aa198;
 $green:     #859900;

 */

* {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
}
#pagewrap {
    font: 100% normal Arial, Helvetica, sans-serif;
    color: #EEE;
    width: 790px;
    margin: 20px auto;
}
#page {
    top: 100px;
    background: #eee8d5;
    width: 780px;
    padding: 5px;
}
#header {
    display: block;
    width: 780px;
    height: 108px;
    background: #839496;
}
#header h1 {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 32px;
    letter-spacing: 20px;
    vertical-align: middle;
    color: #fdf6e3;
    float: right;
    margin-top: 75px;
}
#dashboard {
    margin-top: 5px;
    border: 2px solid #839496;
    padding: 10px;
    font-size: 15px;
    background: none;
}
#meterlist {
    float: left;
    width: 300px;
}
.meter {
    display: inline-block;
}
.meter canvas {
    border: 1px solid black;
    margin: 5px;
}
.meter p {
    text-align: center;
    width: 100%;
    color: #586e75;
}
#userlist {
    float: left;
    display: inline-block;
    font-size: 12px;
    color: #586e75;
    text-align: center;
    height: 300px;
    width: 400px;
}
.user {
    display: inline-block;
    width: 80px;
    border: 1px solid #000;
    background: #268bd2;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    color: #000;
    text-align: center;
}
.user h1 {
    display: block;
    background: #839496;
    font-family: bold, Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 12px;
}

